langchain
langchain-core
langchain-community
langgraph

langchain-mistralai
mistralai

python-dotenv

beautifulsoup4
requests
lxml

tableau-api-lib
tableauserverclient

pandas
numpy

streamlit

rich

httpx

pydantic

aiohttp

tavily